@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: __Inter_aaf875, __Inter_Fallback_aaf875;

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
.sidebar-links a {
  margin-top: 1rem;
}
.sidebar-links a:hover {
  color: #cfcfcf;
  transition: all;
  transition-duration: 0.3s;
}
/* .sidebar-links h2 {
  margin-top: 1rem;
} */

.vehicle_config img {
  max-width: 80%;
  height: auto;
  margin-bottom: 4rem;
}
.vehicle_config p {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.vehicle_config .description {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.vehicle_config .description-nested {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.passive_sheet p:first-child {
  margin-top: 1rem;
}

.sub-links p {
  margin-top: 0.2rem;
}
