@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
.sidebar-links a {
  margin-top: 1rem;
}
.sidebar-links a:hover {
  color: #cfcfcf;
  transition: all;
  transition-duration: 0.3s;
}
/* .sidebar-links h2 {
  margin-top: 1rem;
} */

.vehicle_config img {
  max-width: 80%;
  height: auto;
  margin-bottom: 4rem;
}
.vehicle_config p {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.passive_sheet p:first-child {
  margin-top: 1rem;
}
